grn = #a7bc37
pnk = #e82d8e

@font-face
	font-family: 'MuseoSans'
	font-style: normal
	font-weight: normal
	src: local('Museo Sans Cyrl 300'), url('../fonts/MuseoSansCyrl_0.woff') format('woff')
@font-face
	font-family: 'MuseoSans500'
	font-style: normal
	font-weight: normal
	src: local('Museo Sans Cyrl 500'), url('../fonts/MuseoSansCyrl_1.woff') format('woff')
@font-face
	font-family: 'MuseoSans700'
	font-style: normal
	font-weight: normal
	src: local('Museo Sans Cyrl 700'), url('../fonts/MuseoSansCyrl_2.woff') format('woff')

.Group-40
	width 155px
	height 418px
	object-fit contain
.Group-39
	width 154px
	height 452px
	object-fit contain